*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* Grandezze 4 macroaree */
header{
  width: calc(100% - 275px);
  height: 75px;
  background-color: #1B0721;
  position: fixed;
  top: 0;
  left: 275px;
  z-index: 1;
}
main{
  width: calc(100% - 275px);
  height: calc(100vh - 175px);
  /* background-color: orange; */
  margin-left: 275px;
  margin-top: 75px;
  overflow: auto;
  flex-shrink: 1;
}

aside{
  height: calc(100vh - 100px);
  /* min-width: 275px; */
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}
footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: purple;
}

/* General */
.contenitore-album{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contenitore-album .album{
  width: calc((100% - 100px) / 5);
  text-align: center;
  margin: 0px 10px;
}
.contenitore-album .album img{
  width: 100%;
}
.p20{
  padding: 20px;
}
.m15-0{
  margin: 15px 0px;
}
.p5-0-20-20{
  padding: 5px 0px 20px 20px;
}
.p20-0-5-20{
  padding: 20px 0px 5px 20px;
}
.p20-0-20-20{
  padding: 20px 0px 20px 20px;
}
.white{
  color: white;
}
.lightgrey{
  color: lightgrey;
}


main > div,
main > nav{
  background-color: #131313;
}

/* Overlay IMG */
.contenitore-album .album .cont{
  position: relative;
}
.contenitore-album .album .cont .middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contenitore-album .album .cont .middle i{
  color: white;
}
.contenitore-album .album:hover img {
  opacity: 0.5;
}
.contenitore-album .album:hover .middle {
  opacity: 1;
}


/* Aside */
aside{
  color: white;
  width: 275px;
  position: absolute;
}
.flex{
  display: flex;
}
aside ul li{
  list-style: none;
}
aside > *{
  width: 90%;
  margin: auto;
}
aside .playlist h4,
aside .installa h6,
aside .user-me h5{
  align-self: center;
}

aside .logo{
  height: 75px;
  align-items: center;
  padding: 10px 0px 5px 15px;
}
aside .logo h1{
  font-size: 30px;
  padding-left: 10px;
}

aside .nav-principale{
  height: 125px;
}
aside ul.nav-principale li{
  margin: 15px 0px;
  padding: 0px 15px;
  color: grey;
}
aside ul.nav-principale li:hover{
  color: white;
  border-left: 2px solid green;
}

aside .playlist{
  height: 125px;
}
aside .playlist{
  padding: 5px 0px 10px 15px;
  color: grey;
  border-bottom: 1px solid grey;
  /* background-color: orange; */
}
aside .playlist h3{
  padding: 10px 0px 5px 0px;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
}
aside .playlist .crea-playlist{
  display: flex;
  margin-bottom: 5px;
}
aside .playlist .brani-preferiti{
  display: flex;
  margin-top: 5px;
}
aside .playlist img{
  height: 28px;
  width: 28px;
  border-radius: 3px;
}
aside .playlist h4{
  align-self: center;
  padding-left: 10px;
}
aside .playlist h4:hover,
aside ul.lista-playlist li:hover{
  color: white;
}

aside .lista-playlist{
  height: calc(100% - 415px);
}
aside ul.lista-playlist{
  overflow: auto;
}
aside ul.lista-playlist li{
  margin: 10px 0px 10px 15px;
  font-size: 15px;
  color: grey;
}

aside .utente{
  height: 90px;
}
aside .installa{
  display: flex;
  padding: 10px;
  color: grey;
  border-bottom: 1px solid grey;
}
aside .installa h6{
  padding-left: 10px;
}
aside .installa:hover{
  color: white;
}
aside .user-me{
  display: flex;
  padding-top: 10px;
}
aside .user-me img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
aside .user-me h5{
  align-self: center;
  padding-left: 10px;
}

aside hr{
  height: 1px;
  color: grey;
  background-color: grey;
}

aside .contenuto-nascosto{
  display: none;
  text-align: center;
}
aside .contenuto-nascosto i{
  margin: 10px 0px;
}

aside .contenuto-nascosto i:first-child{
  color: white;
}
aside .contenuto-nascosto i:not(i.fa-spotify){
  color: grey;
}

aside .contenuto-nascosto img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
aside .contenuto-nascosto ul:last-child{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .sinistra{
  margin-left: 10px;
  flex-shrink: 0;
}
header .sinistra i{
  margin: 0px 5px;
}
header .sinistra i:hover{
  cursor: pointer;
}

header .destra{
  display: flex;
  margin-right: 10px;
}
header .destra .upgrade{
  background-color: yellow;
  border-radius: 25px;
  background-color: black;
  border: 1px solid white;
  display: flex;
}
header .destra a{
  color: white;
  text-decoration: none;
}
header .destra .upgrade a{
  padding: 8px 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  align-self: center;
}
header .destra .user{
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  margin-left: 10px;
}
header .destra .user:hover{
  background-color: #131313;
}
header .destra .user img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
header .destra .user a{
  letter-spacing: 1px;
  padding: 0px 5px;
}
header .destra .user i{
  color: white;
}
header .destra .user i:last-child{
  margin-right: 10px;
}


/* Main */

main nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
main nav ul li{
  padding: 0px 10px;
  line-height: 45px;
}
main nav ul li a{
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
}
main nav ul li a:hover{
  color: white;
}

main nav li a{
	position: relative;
}
main nav li a:before,
main nav li a:after {
    content: '';
    display: block;
    position: absolute;
}
main nav li a:after {
  width: 40px;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  opacity: 0;
}
main nav ul li a:hover::after{
  opacity: 1;
}

main .artisti-popolari .contenitore-album .album img{
  border-radius: 50%;
}

/* Footer */
footer{
  display: flex;
}
footer .contenitore-sinistra{
  background-color: #191919;
  width: 25%;
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}
footer .contenitore-sinistra img{
  height: 75px;
  width: 75px;
  margin: 0px 20px;
}
footer .contenitore-sinistra .canzone-riprodotta{
  margin-right: 30px;
}
footer .contenitore-sinistra h5{
  color: white;
}
footer .contenitore-sinistra h6{
  color: grey;
}
footer .contenitore-sinistra i{
  color: grey;
  padding: 0px 5px;
}
footer .contenitore-sinistra i:hover{
  cursor: pointer;
  color: green;
}

footer .contenitore-centro{
  background-color: #191919;
  width: 50%;
  /* border: 1px solid blue; */
}
footer .contenitore-centro .contenitore-alto{
  background-color: #191919;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenitore-centro .contenitore-alto i{
  padding: 0px 10px;
  color: white;
}
footer .contenitore-centro .contenitore-alto i:hover{
  cursor: pointer;
  color: green;
}
footer .contenitore-centro .contenitore-basso{
  background-color: #191919;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .contenitore-centro .contenitore-basso p{
  color: white;
}
footer .contenitore-centro .contenitore-basso hr{
  height: 5px;
  width: 60%;
  color: grey;
  background-color: grey;
  border: 1px solid grey;
  position: relative;
  border-radius: 15px;
  margin: 0px 10px;
}

footer .contenitore-centro .contenitore-basso hr:before{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    content: '';
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 20%;
    z-index: 1;
}
footer .contenitore-centro .contenitore-basso hr:hover:before{
  background-color: green;
  border: 1px solid green;
}

footer .contenitore-destra{
  background-color: #191919;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid green; */
}
footer .contenitore-destra i{
  color: lightgrey;
}
footer .contenitore-destra i:not(.fa-bars){
  margin-left: 10px;
}
/* footer .contenitore-destra i.fa-ellipsis-v:hover + .fa-bars{
  color: green;
} */
footer .contenitore-destra i:hover{
  cursor: pointer;
  color: green;
}
footer .contenitore-destra hr{
  height: 5px;
  width: 40%;
  color: grey;
  background-color: grey;
  border: 1px solid grey;
  position: relative;
  border-radius: 15px;
  margin: 0px 10px
}
footer .contenitore-destra hr:before{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    content: '';
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 70%;
    z-index: 1;
}
footer .contenitore-destra hr:hover:before{
  background-color: green;
}

/* Media Query */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  aside{
    width: 225px;
  }
  header{
    width: calc(100% - 225px);
    left: 225px;
  }
  main{
    width: calc(100% - 225px);
    margin-left: 225px;
  }

  header .destra .user a,
  header .destra .user i{
    display: none;
  }
  .contenitore-album .album{
    width: calc((100% - 80px) / 4);
  }
  main .recently .contenitore-album{
    flex-wrap: wrap;
  }
  main nav ul{
    flex-wrap: wrap;
  }
  main nav ul li{
    padding: 0px 30px;
    justify-content: center;
  }

  footer .contenitore-sinistra img{
    height: 50px;
    width: 50px;
  }
  footer .contenitore-sinistra i.fa-folder{
    display: none;
  }
  footer .contenitore-sinistra .canzone-riprodotta{
    margin-right: 15px;
  }

  footer .contenitore-centro .contenitore-basso hr{
    width: 60%;
  }
}

@media screen and (max-width: 767px) {

  aside{
    width: 75px;
  }
  header{
    width: calc(100% - 75px);
    left: 75px;
  }
  main{
    width: calc(100% - 75px);
    margin-left: 75px;
  }
  header .destra .upgrade{
    display: none;
  }
  header .destra .user a,
  header .destra .user i{
    display: none;
  }
  header .destra .user img{
    height: 60px;
    width: 60px;
  }
  main nav ul li a{
    font-size: 20px;
  }
  .contenitore-album .album{
    width: calc((100% - 40px) / 2);
  }
  main nav ul{
    flex-wrap: wrap;
  }
  main nav ul li{
    padding: 0px 30px;
    justify-content: center;
    font-size: 15px;
  }
  footer .contenitore-sinistra img{
    height: 50px;
    width: 50px;
  }
  footer .contenitore-sinistra i.fa-folder{
    display: none;
  }
  footer .contenitore-sinistra .canzone-riprodotta{
    margin-right: 15px;
  }
  footer .contenitore-centro .contenitore-basso hr{
    width: 60%;
  }

  aside > *:not(div:last-child){
    display: none;
  }
  aside .contenuto-nascosto{
    display: block;
  }
  aside .contenuto-nascosto ul li i{
    padding: 0px 15px;
  }
  aside .contenuto-nascosto ul li i:hover:not(.fa-spotify){
    color: white;
    border-left: 2px solid green;
  }
}
