*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* Grandezze 4 macroaree */
header{
  width: calc(100% - 275px);
  height: 8vh;
  background-color: #1B0721;
  margin-left: 275px;
  position: fixed;
  top: 0;
  left: 0;
}
main{
  width: calc(100% - 275px);
  height: 82vh;
  /* background-color: orange; */
  margin-left: 275px;
  margin-top: 8vh;
  overflow: auto;
  flex-shrink: 1;
}

aside{
  height: 90vh;
  width: 20%;
  /* min-width: 275px; */
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}
footer{
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: purple;
}

/* Aside */
aside{
  color: white;
  width: 275px;
}
aside .container-sopra{
  width: 80%;
  margin: auto;
  /* background-color: lightgreen; */
  margin-top: 15px;
}
aside .container-sopra .logo{
  display: flex;
  padding: 10px 0px 5px 15px;
}
aside .container-sopra .logo h1{
  align-self: center;
  font-size: 30px;
  padding-left: 10px;
}
aside .container-sopra ul li{
  list-style: none;
  padding: 5px 0px 5px 15px;
  color: grey;
}
aside .container-sopra h3{
  padding: 10px 0px 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
}
aside .container-sopra .playlist{
  padding: 5px 0px 10px 15px;
  color: grey;
  /* background-color: orange; */
}
aside .container-sopra .playlist .crea-playlist{
  display: flex;
  margin-bottom: 5px;
}
aside .container-sopra .playlist .brani-preferiti{
  display: flex;
  margin-top: 5px;
}
aside .container-sopra .playlist img{
  height: 28px;
  width: 28px;
  border-radius: 3px;
}
aside .container-sopra .playlist h4{
  align-self: center;
  padding-left: 10px;
}
/* aside .container-sopra ul:last-child{
  height: 250px;
  overflow: auto;
  background-color: green;
} */

aside .container-sopra ul li i.fa-slash{
  /* color: orange; */
  transform: rotate(40deg);
  margin-left: -5px;
}

aside .container-sopra ul:last-child{
  overflow: auto;
}



aside .container-sotto{
  width: 85%;
  margin: 0px 15% 0px 10%;
  /* background-color: blue; */
  position: absolute;
  bottom: 0;
}

aside .container-sotto .installa{
  display: flex;
  margin-bottom: 10px;
  color: grey;
}
aside .container-sotto .installa h6{
  align-self: center;
  padding-left: 10px;
}
aside .container-sotto .user-john{
  display: flex;
  margin-top: 10px;
}
aside .container-sotto .user-john i{
  color: white;
}
aside .container-sotto .user-john h5{
  align-self: center;
  padding-left: 10px;
  margin-bottom: 10px;
}




/* Header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .sinistra{
  margin-left: 10px;
  flex-shrink: 0;
}
header .sinistra i{
  margin: 0px 5px;
}

header .destra{
  display: flex;
  margin-right: 10px;
}
header .destra .upgrade{
  background-color: yellow;
  border-radius: 25px;
  background-color: black;
  border: 1px solid white;
  display: flex;
}
header .destra a{
  color: white;
  text-decoration: none;
}
header .destra .upgrade a{
  padding: 8px 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  align-self: center;
}
header .destra .user{
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 25px;
  margin-left: 10px;
}
header .destra .user a{
  letter-spacing: 1px;
  padding: 0px 5px;
}
header .destra .user i{
  color: white;
}
header .destra .user i:last-child{
  margin-right: 10px;
}


/* Main */


main nav{
  background-color: #131313;
  /* height: 50px; */
}
main nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  /* line-height: 50px; */
  align-items: center;
  padding-top: 20px;
}
main nav ul li{
  padding: 0px 10px;
}
main nav ul li a{
  text-decoration: none;
  color: lightgrey;
  text-transform: uppercase;
}




main .recently{
  background-color: #131313;
  overflow: auto;
  overflow-y: hidden;
}
main .recently h2{
  color: white;
  padding: 20px;
}
main .recently .contenitore-album{
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
}
main .recently .contenitore-album .album{
  width: 150px;
  text-align: center;
  margin: 0px 20px;
}
main .recently .contenitore-album .album img{
  height: 150px;
  width: 150px;
}
main .recently .contenitore-album .album h4{
  color: white;
  margin: 15px 0px;
}
main .recently .contenitore-album .album h6{
  color: lightgrey;
  margin: 15px 0px;
}




main .creato-per{
  background-color: #131313;
}
main .creato-per h2{
  color: white;
  padding: 20px 0px 5px 20px;
}
main .creato-per h6{
  color: lightgrey;
  padding: 5px 0px 20px 20px;
}
main .creato-per .contenitore-album{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .creato-per .contenitore-album .album{
  width: 150px;
  text-align: center;
  margin: 0px 20px;
}
main .creato-per .contenitore-album .album img{
  height: 150px;
  width: 150px;
}
main .creato-per .contenitore-album .album h4{
  color: white;
  margin: 15px 0px;
}




main .artisti-popolari{
  background-color: #131313;
}
main .artisti-popolari h2{
  color: white;
  padding: 20px 0px 5px 20px;
}
main .artisti-popolari h6{
  color: lightgrey;
  padding: 5px 0px 20px 20px;
}
main .artisti-popolari .contenitore-album{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main .artisti-popolari .contenitore-album .album{
  width: 150px;
  text-align: center;
  margin: 0px 20px;
}
main .artisti-popolari .contenitore-album .album img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
main .artisti-popolari .contenitore-album .album h4{
  color: white;
  margin: 15px 0px;
}







/* 1100px-700px
  700px-600px
  <600px*/
